{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1>About</h1>

    <div>
        Rango says here is the about page!<br />
    </div>

    <div>
        <!-- Picture of me -->
        <img src="{% static "images/kyle_profile_pic.jpg" %}" alt="Picture of Kyle" /><br />
        This tutorial has been put together by Kyle.
    </div>

    <div>
        <img src="{{ MEDIA_URL }}cat.jpg" />
        Picture of a cat - because...instructions?
    </div>
{% endblock %}

<!-- The following is the code before chapter 8 in Tango with Django -->
<!-- <!DOCTYPE html> -->
<!-- Rango App About HTML file -->
<!-- Ensure that DOCTYPE declaration is always first -->

<!-- This informs the Django template engine that there will be static files used -->
<!-- {% load staticfiles %}

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>About</h1>

        <div>
            Rango says here is the about page!<br />
        </div>

        <div>
            <a href="/rango/">Beginning</a><br />
        </div>

        <div> -->
            <!-- Picture of me -->
            <!-- <img src="{% static "images/kyle_profile_pic.jpg" %}" alt="Picture of Kyle" /><br />
            This tutorial has been put together by Kyle.
        </div>

        <div>
            <img src="{{ MEDIA_URL }}cat.jpg" />
        </div>

    </body>

</html> -->
