<!DOCTYPE html>
<html>
    <!-- Rango app 'Add Page' Page Template -->
    <head>
        <title>Rango</title>
    </head>

    <body>
        {% if category %}
            <h1>Add a Page</h1>
            <div>
                <form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
                    <!-- This is a Cross-Site Request Forgery token -->
                    <!-- Helps to protect and secure the HTTP POST action -->
                    <!-- Also helps to prevent errors when the form is submitted as -->
                    <!-- HTML is stateless and Django requires this to submit forms -->
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}
                    {% endfor %}
                    <input type="submit" name="submit" value="Add Page" />
                </form>
            </div>
        {% else %}
            <b>The specified category does not exist</b>
        {% endif %}
    </body>

</html>
