<!DOCTYPE html>
<!-- Rango App Index HTML file -->
<!-- Ensure that DOCTYPE declaration is always first -->

<!-- This informs the Django template engine that there will be static files used -->
{% load staticfiles %}

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1> Rango says...</h1>
        <div>
            hey there partner! <br />
            <!-- Leaving the below in for reference -->
            <!-- <strong>{{ boldmessage }}</strong><br /> -->
        </div>

        <!-- MOST LIKED CATEGORIES -->
        <div>
            <h1>Most Liked Categores</h1>
            <!-- Check the context variable for categories -->
            {% if categories %}
            <!-- Create an unordered list -->
            <ul>
                <!-- Itterate through results -->
                {% for category in categories %}
                    <!-- Output the category name -->
                    <li>
                        <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <!-- If no categories, display message -->
                <strong>There are no categories present.</strng>
            {% endif %}
        </div>

        <!-- MOST VIEWED PAGES -->
        <div>
            <h1>Most Viewed Pages</h1>
            <!-- Check the context variable for pages -->
            {% if pages %}
            <!-- Create an unordered list -->
            <ul>
                <!-- Itterate through results -->
                {% for page in pages %}
                    <!-- Output the category name -->
                    <li>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <!-- If no categories, display message -->
                <strong>There are no pages present.</strng>
            {% endif %}
        </div>

        <div>
            <a href="/rango/about">About Rango</a><br />
            <!-- Static template tag -->
            <!-- "alt" is what gets shown if the image cannot be loaded -->
            <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
        </div>
    </body>
</html>
